

.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

header {
    height: 60px;
}

body {
    background-color: #fff;
}

h1 {
    width: 40%;
    font-size: 40px;
    font-weight: 600;
    color: #FF7F50;
    /* margin-right: 30px; */
    line-height: 60px;
}

span {
    color: purple;
}

nav {
    width: 60%;
    text-align: right;
    font-size: 24px;
    color: olive;
    /* margin-right: 30px; */
    line-height: 60px;
    font-weight: 600;

}

.flexbox {
    display: flex;
}

nav ul li {
    display: inline;
    list-style: none;
    margin-right: 50px;
    text-decoration: none;
}

nav ul li:last-child{
    margin-right: 0px;

}

nav ul li a {
    text-decoration: none;
    color: #FF7F50;
}

nav ul li a:hover {
    color: #FF7F50;
}

section {
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.sort{
    display: right;
}

.sort-div{
    text-align: right;
}

button{
    height: 40px;
    margin-top: 20px;
    text-align: center;
    width: 180px;
    border-radius: 6px;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

 button:hover{
    background-color: #66cccc;
    color: #fff;
 } 
 
  

  .img-name{
    display: flex;

  }

  .left{
    width: 80%;
    text-align: left;
    
  }
  .right{
    width: 20%;
    text-align: right;
  }
  
  a{
    text-decoration: none;
  }

  figure img {
    border-radius: 5px;

}

.movie-item {
    padding: 3px;
    border: 2px solid gray;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: 5px;
   
}


.figure{
    text-align: center;
    align-items: center;
}

.movie-item:hover {
    border-color: gray;
    cursor: pointer;
}
.detail-row{
}
.poster-detail {
    margin-right: 20px;
  
}
.column-2 ul{
    display: flex;
    margin-top: 0px;
}

.column-2 .name{
    font-size: 24px;
    color: #008080;
    font-weight: 600;
}
.ul li{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 14px;
    color:#2f4f4f;

}


.column-2 .brand{
    font-size: 24px;
    color: lightsalmon;
}

.desc{
    width: 600px;
    margin-top: 20px;
    color: #333;
    font-weight: 600;
}
.name{
    margin-top: 0px;
}

.buy{
    width: 80px;
    font-size: 14px;
  background-color:   #66cccc;
  color: #fff;
}
.poster-detail figure img {
    background: transparent;
  }

  .buy:hover{
    background-color: #008080;
  }

  .submit{
    background-color: #008080;
   color:#fff
  }

  .subit{
    background-color: #008080;
  }
  .submit:disabled {
    background-color: gray; /* Set the desired background color */
    color: white; /* Set the desired text color */
    /* Add any additional styling as needed */
  }

  .addPrd:hover{
background-color: #FF7F50;
  }
  

/* input{
    width: 240px;
    background-color: darkgrey;
    color: #fff;
    font-size: 24px;
    border-radius: 12px;
} */

form{
    width: 400px;
    background-color: #f1f2f3;
    padding: 15px 20px;
    box-shadow: rgb(0 0 0 / 0.4) 0px 26px 30px -10px,
    rgb(0 0 0 / 0.4) 0px 16px 10px -10px;
}

form h2{
    text-align: center;
    font-size: 28px;
    color: #008080;
}

form label{
    display: block;
    font-size: 20px;
    color: #008080;
}

form input[type = "text"],
input[type="number"], input[type="date"]{
    border: 2px solid rgb(0 0 0 / 0.5);
    background: none;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    border-radius: 5px;
}
form textarea{
    border: 2px solid rgb(0 0 0 / 0.5);
    background: none;
    height: 200px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    border-radius: 5px;
}

form input[type="text"]:focus,
input [type="number"]:focus, input[type="date"]:focus{
    border: 2px solid rgb(0 0 0 );
}

form

form button:disabled{
    background-color: grey;
    cursor: not-allowed;
}

form button:hover{
    background-color: #008080;
}

.cross-flex{
    display: flex;
}
.cross-flex h2{
    width: 80%;
    text-align: left;
}

.cross-flex .icon{
    text-align: right;
    width: 40px;
    height:30px;
    margin-top: 10px;
    font-size: 28px;
    margin-left: 30px;
    color: #66cccc;
}

.icon:hover{
    color: #008080;

}

.grid{
    display: grid;
    justify-content: center;
    place-items: center;
    align-items: center;
    align-content: center;
    height: min(100vh - 60px - 60px);
}
.detail-row{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: min(100vh - 60px - 60px);
}
.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .figure img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .img-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
  }
  
  .img-name p {
    margin: 0;
    color: #008080;
    font-weight: 600;
  }

  .right p{
    color: #FF7F50
  }

  header{
    background-color: #008080 ;
  }
  
  /* .left {
    flex: 1;
    text-align: left;
  }
  
  .right {
    flex: 1;
    text-align: right;
  } */
  .addPrd{
  
    background-color: #FF7F50;
    border-radius: 12px;
    color: #fff;
   
  }

  footer{
    height: 60px;
    background-color: #008080;
  }

  section{
    height: min(100% -60px - 60px);
    margin-bottom: 20px;
  }

  footer{
    text-align: center;
    align-items: center;
  }
  .tags {
    width: 100%;
    text-align: center;
    color:#FF7F50;
}
.tags {
    display: inline;
    line-height: 60px;
    cursor: default;
}

.contents{
    place-items: center;
    justify-content: center;
    align-items: center;
}

.notFound {
    height: calc(100vh - 110px);
    background: #fff url("") center center / cover no-repeat;
    display: grid;
    place-items: center;
}


.content {
    text-align: center;
}

.notfound-message {
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
}
h2{
    color: #FF7F50;
}

.returnBtn{
    margin-left: 20px;
}